body { background: url(ptracks.png); }
h1 { font-variant: small-caps; text-align: center }
p.greeting { font: bold italic medium/100% Palatino, sans-serif }
p.address { margin-top: 0em; margin-bottom: 0em }
 